#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {  
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &mo B         &kp T
                &kp S     &kp C
                &mo 1
            >;
        }; 
        
        bt_layer {
            bindings = <
                &trans     &bootloader
                &trans     &bt BT_CLR
                &bt BT_SEL 0
            >;
        };
    };
};
